# --- Rust ---
/native_shim/target/
**/*.rs.bk

# --- .NET (C# & F#) ---
**/bin/
**/obj/
.vs/
.vscode/
*.user
*.suo
*.tmp
*.log
*.txt
# --- OS Files ---
.DS_Store
Thumbs.db

# --- Test Data ---

*.csv
*.parquet
!test.csv
!users.csv
!sales.csv
!dates.csv

.fake

# --- DocFx Data ---
docs/_site/
docs/obj/
docs/api/csharp/
docs/api/fsharp/
docs/api/fsharp_generated/